<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!-- Ustawienia  Optimy-->
    <add key="Firma" value="firma" />
    <add key="Operator" value="operator" />
    <!--  Ustawienia  SQL-->
    <add key="sql_serwer" value="serwer" />
    <add key="sql_baza" value="baza" />
    <add key="sql_user" value="user" />
    <add key="sql_password" value="haslo" />

    <!--FTP-->
    <add key="FTPURL" value="url" />
    <add key="FTPUSER" value="user" />
    <add key="FTPPASS" value="haslo" />
    <add key="InComing" value="wejscie" />
    <add key="Processed" value="dokumentyWykonane" />
    <add key="Fail" value="test/bledy" />
    <add key="OutComing" value="dokumentyWyjsciowe" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>